In [1]:
import numpy as np
import pandas as pd

# **DATA IMPORT**

In [2]:
tp_adv = pd.read_csv("input/topic_modeling_result/bank_adv_topic_modeling.csv")
tp_dadv = pd.read_csv("input/topic_modeling_result/bank_dadv_topic_modeling.csv")

fv = pd.read_csv("input/financial_variable/bank_financial_financial_variable.csv")
tor = pd.read_csv("input/turn_over_rate/bank_financial_business_turn_over_rate.csv")

In [3]:
print(len(tp_adv))
print(len(tp_dadv))
print(len(fv))
print(len(tor))

146
146
150
150

In [4]:
tp_adv = tp_adv.drop(['Unnamed: 0'], axis=1)
tp_dadv = tp_dadv.drop(['Unnamed: 0'], axis=1)
fv = fv.drop(['Unnamed: 0'], axis=1)
tor = tor.drop(['Unnamed: 0'], axis=1)

In [5]:
# Preprocessing for topic modeling result
cn_adv = tp_adv['cmp']
cn_dadv = tp_dadv['cmp']

for i, val in enumerate(cn_adv):
  if '(주)' in val:
    tmp = val.replace('(주)','')
    tp_adv.loc[i,'cmp'] = tmp

for i, val in enumerate(cn_dadv):
  if '(주)' in val:
    tmp = val.replace('(주)','')
    tp_dadv.loc[i,'cmp'] = tmp

col_adv_list = list(tp_adv.columns)
col_adv_list[0] = 'company_name'
for i in range(1, len(tp_adv.columns)):
  col_adv_list[i] = 'adv_topic ' + str(col_adv_list[i])
tp_adv.columns = col_adv_list

col_dadv_list = list(tp_dadv.columns)
col_dadv_list[0] = 'company_name'
for i in range(1, len(tp_dadv.columns)):
  col_dadv_list[i] = 'dadv_topic ' + str(col_dadv_list[i])
tp_dadv.columns = col_dadv_list

tp_dadv

,company_name,dadv_topic 0,dadv_topic 1,dadv_topic 2,dadv_topic 3,dadv_topic 4
0,국민건강보험공단,0.000000,0.000000,0.000000,0.000000,0.999572
1,근로복지공단,0.000000,0.000000,0.000000,0.000000,0.999492
2,새마을금고,0.687589,0.027012,0.000000,0.000000,0.285099
3,농협은행,0.181343,0.000000,0.000000,0.000000,0.812849
4,현대카드,0.000000,0.999159,0.000000,0.000000,0.000000
...,...,...,...,...,...,...
141,글로벌금융판매,0.000000,0.000000,0.000000,0.996440,0.000000
142,현대하이카손해사정,0.317989,0.000000,0.000000,0.000000,0.664502
143,아이비케이캐피탈,0.000000,0.000000,0.000000,0.899822,0.093894
144,다올투자증권,0.000000,0.292672,0.123948,0.580658,0.000000
145,한국예술인복지재단,0.000000,0.212045,0.000000,0.000000,0.785279

In [6]:
# Preprocessing for financial variable

afv = fv['average_salary']
tfv = fv['total_sale']

for i, val in enumerate(afv):
  if '만원' in val:
    tmp = int(val[:-2].replace(',',''))
    fv.loc[i,'average_salary'] = tmp
  if '회사' in val:
    fv.loc[i,'average_salary'] = np.NAN


for i, val in enumerate(tfv):
  if '조원' in val:
    tmp = float(val[:-2].replace(',',''))*1000
    fv.loc[i,'total_sale'] = tmp
  if '억원' in val:
    tmp = float(val[:-2].replace(',',''))
    fv.loc[i,'total_sale'] = tmp
  if '회사' in val:
    fv.loc[i,'total_sale'] = np.NAN

fv

    company_name average_salary total_sale
0       국민건강보험공단           6441    75400.0
1         근로복지공단           5817     9406.2
2          새마을금고            NaN        NaN
3           농협은행           6182    13100.0
4           현대카드           8737     2300.0
..           ...            ...        ...
145      글로벌금융판매           3442     4473.3
146    현대하이카손해사정           6082     1294.9
147     아이비케이캐피탈           9880     3933.2
148       다올투자증권            NaN        NaN
149    한국예술인복지재단           4651      864.2

[150 rows x 3 columns]

In [7]:
# Preprocessing for turn over rate

tor_val = tor['turn_over_rate']

for i, val in enumerate(tor_val):
  if '정보' in val:
    tor.loc[i,'turn_over_rate'] = np.NAN
  elif val == '(9999%)' :
    tor.loc[i,'turn_over_rate'] = np.NAN
  elif '(' in val:
    tmp = float(val[1:-1].replace('%',''))*0.01
    tor.loc[i,'turn_over_rate'] = tmp

tor

    company_name turn_over_rate
0       국민건강보험공단            0.2
1         근로복지공단           0.13
2          새마을금고            NaN
3           농협은행           0.15
4           현대카드           0.35
..           ...            ...
145      글로벌금융판매           0.46
146    현대하이카손해사정           0.08
147     아이비케이캐피탈           0.06
148       다올투자증권           0.63
149    한국예술인복지재단            1.0

[150 rows x 2 columns]

In [9]:
df = pd.merge(tp_adv, fv, on = 'company_name', how = 'inner')
df = pd.merge(df, tp_dadv, on = 'company_name', how = 'inner')
df = pd.merge(df, tor, on = 'company_name', how = 'inner')
df = df.dropna()
df

,company_name,adv_topic 0,adv_topic 1,adv_topic 2,adv_topic 3,adv_topic 4,adv_topic 5,average_salary,total_sale,dadv_topic 0,dadv_topic 1,dadv_topic 2,dadv_topic 3,dadv_topic 4,turn_over_rate
0,국민건강보험공단,0.000000,0.999386,0.000000,0.000000,0.000000,0.000000,6441,75400.0,0.000000,0.000000,0.000000,0.000000,0.999572,0.2
1,근로복지공단,0.000000,0.999270,0.000000,0.000000,0.000000,0.000000,5817,9406.2,0.000000,0.000000,0.000000,0.000000,0.999492,0.13
3,농협은행,0.000000,0.000000,0.000000,0.260527,0.000000,0.738698,6182,13100.0,0.181343,0.000000,0.000000,0.000000,0.812849,0.15
4,현대카드,0.000000,0.433746,0.000000,0.565337,0.000000,0.000000,8737,2300.0,0.000000,0.999159,0.000000,0.000000,0.000000,0.35
5,중소기업은행,0.000000,0.010276,0.000000,0.000000,0.000000,0.988675,10065,14800.0,0.000000,0.012572,0.040652,0.000000,0.946242,0.16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138,바로크레디트대부,0.015249,0.923682,0.015247,0.015275,0.015289,0.015258,4354,1133.0,0.000000,0.000000,0.970678,0.000000,0.000000,0.22
139,글로벌금융판매,0.000000,0.000000,0.000000,0.000000,0.990223,0.000000,3442,4473.3,0.000000,0.000000,0.000000,0.996440,0.000000,0.46
140,현대하이카손해사정,0.973719,0.000000,0.000000,0.000000,0.000000,0.000000,6082,1294.9,0.317989,0.000000,0.000000,0.000000,0.664502,0.08
141,아이비케이캐피탈,0.000000,0.000000,0.000000,0.000000,0.000000,0.992217,9880,3933.2,0.000000,0.000000,0.000000,0.899822,0.093894,0.06
143,한국예술인복지재단,0.000000,0.993859,0.000000,0.000000,0.000000,0.000000,4651,864.2,0.000000,0.212045,0.000000,0.000000,0.785279,1.0

# **MACHINE LEARNING MODEL**

In [10]:
# Linear Regression
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score

y_target = df['turn_over_rate']
x_data = df.drop(['company_name','turn_over_rate'], axis = 1, inplace = False)

X_train, X_test, y_train, y_test = train_test_split(x_data, y_target, test_size = 0.3, random_state = 7)

lr = LinearRegression()
lr.fit(X_train, y_train)

y_preds = lr.predict(X_test)
mse = mean_squared_error(y_test, y_preds)
rmse = np.sqrt(mse)

print('MSE: {0: .3f}, RMSE : {1: .3F}'.format(mse, rmse))
print('Variance score : {0:.3f}'.format(r2_score(y_test,y_preds)))

MSE:  0.039, RMSE :  0.196
Variance score : 0.089